<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        
        <p>You cand configure some users changing data file <b>src/main/resources/demo/data/data.sql</b></p>
        
        <!-- TWITTER SIGNIN -->
		<p><a th:href="@{/auth/twitter}">Sign In with twitter</a></p>
	
		<!-- FACEBOOK SIGNIN 
		<p><a th:href="@{/auth/facebook}">Sign In with facebook</a></p>
		-->
	 
		<!-- LINKEDIN SIGNIN 
		<p><a th:href="@{/auth/linkedin}">Sign In with LinkedIn</a></p>
		
		<form th:action="@{/auth/google}" method="post">
            <input type="hidden" name="scope" value="profile" />
            <div><input type="submit" value="Sign In with google"/></div>              
		</form>
		-->
    </body>
</html>